.EventsPre {
	margin:0;
	padding:0;
	padding-bottom: 30px;
	height: auto;
	width: 100%;
	background: #99aab2;
	position: relative;
}

.EventsPre__title {
	overflow: hidden;
	background: linear-gradient(90deg, rgba(50,50,50,.2), rgba(50,50,50,0));
	font-family: 'Krona One', sans-serif;
	font-size: 6vw;
	letter-spacing: 3vw;
	color: rgba(0,0,0,.2);
	padding: 20px;
	transition: width 1s cubic-bezier(.1,.5,.5,1), opacity 2s linear;
	opacity: 0;
	width: 0;
}

.EventsPre__title--show {
	opacity: 1;
	width: 90%;
}


.events-wrapper {
	margin-top: 50px;
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.EventsPre__see-more {
	display: block;
	font-family: 'IM Fell English SC', serif;
	font-size: 2.5rem;
	text-align: right;
	margin-bottom: 30px;
	margin-right: 100px;
	opacity: .6;
	transition: all 1s linear;
	cursor: pointer;
}

.EventsPre__see-more:hover {
	opacity: 1;
	margin-right: 80px;
}