.Home__Gallery{
	margin: auto;
	padding: 30px 0;
	height: auto;
	width: 100%;
	background: linear-gradient(to right, #d6c1a2 30%, #ffce99 30%);
	position: relative;
}

.Home__Gallery__title  {
	font-family: 'Krona One', sans-serif;
	font-size: 6vw;
	letter-spacing: 3vw;
	color: rgba(0,0,0,.2);
	margin-left: 40px;
	opacity: 0;
	transform: translateX(-10deg);
	transition: all 2s ease-in-out;
}

.Home__Gallery__title--show {
	transform: translateX(0);
	opacity: 1;
}

.Home__Gallery__immage-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(2, .2fr 2fr .2fr);


	grid-template-areas: " .    .    .    .   img3 img3 img3"
						 "img2 img2 img2 img2 img3 img3 img3"
						 "img2 img2 img2 img2   .   h2   h2 "
						 "  .    .    .  img1 img1 img1 img1"
						 "img4 img4 img4 img1 img1 img1 img1"
						 "img4 img4 img4   .    .    .    . ";
											 
	grid-gap: 70px;
	width: 85%;
	margin: 30px auto 0 auto; 
	padding-bottom: 70px;
}

.Home__Gallery .see-more {
	font-family: 'IM Fell English SC', serif;
	grid-area: h2;
	font-size: 2.5rem;
	color: rgba(0,0,0,.7);
	cursor: pointer;
	transition: all .5s linear;
	text-align: left;
	margin: 0 0 30px 0;
}

.Home__Gallery .see-more:hover {
	color: rgba(0,0,0,1);
	transform: translate(15px);
}
