.FooterPre {
	display: none;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	padding: 0;
	position: fixed;
	bottom: 0;
	/*margin-top: -40px;*/
	z-index: -10;
	
}

.FooterPre__form-container {
	width: 100%;
	/*height: calc(70vh + 40px);*/
	height:  70vh;
	padding: 60px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: left;
	background: url(./img/footer-1-img.jpg) 0 0/cover no-repeat;
	filter: sepia(50%) grayscale(30%);
	position: relative;
}

.FooterPre__form {
	margin-left: 70px;
	width: 60%;
	position: relative;
	/*max-width: 600px;*/
	padding: 20px 10px;
	height: auto;
	border-radius: 10px;
	background-color: rgba(0,0,0,.5);
}

.FooterPre__form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 10px;
	width: 80%;
	margin: auto;
	height: auto;
}

.FooterPre__form div {
	color: white;
	font-size: 1.2rem;
	margin-bottom: 5%;
}

.FooterPre__form input, .FooterPre__form textarea {
	border-radius: 4px;
	width: 100%;
	margin-top: 10px;
	border: none;
}

.FooterPre__title {

	position: absolute;
	/*width:auto;
	height: auto;*/
	top: -5%;
	right: 15vw;
	/*background-color: pink;*/
	/*top: 25%;
	right: 40px;*/
	font-size: 5vh;
	color: rgba(0,0,0,.7);
	font-family: 'Merriweather Sans', sans-serif;
	transform: rotate(-90deg);
	transform-origin: right bottom;
}

.FooterPre__form button {
	align-self: flex-end;
	width: 40%;
	padding: 5px 0;
	font-size: 1.2rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: rgba(0,0,0,.9);
}

.FooterPre__info {
	background-color: #232628;
	color: white;
	min-height: 30vh;
	width: 100%;
	font-family: 'Merriweather Sans', sans-serif;
	position: relative;
}

.FooterPre__info a {
	text-decoration: none;
	color: #1468a0;
}

.FooterPre__info li {
	list-style: none;
}

.FooterPre__info--container {
	width: 80%;
	padding: 10px 0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: space-between;
	color: white;
}

.FooterPre__info--container > div {
	width: 50%;
}

.FooterPre__info--container svg {
	display: block;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	fill: white;
	margin: 0 10px;
	padding: 10px;
	
}

.FooterPre__info--contacts > div {
	margin: 20px 0;
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
	justify-content: left;
}
.FooterPre__info--copyrights {
	margin: 20px 0 0 0;
}

.FooterPre__info--copyrights h3 {
	margin-bottom: 20px;
}

.FooterPre__info--socials ul {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: flex-start;
	padding-left: 0;
}

.FooterPre__creator {
	position: absolute;
	bottom: 20px;
	right: 40px;
	color: white;
	font-size: .8rem;
	font-family: 'Merriweather Sans', sans-serif;
}