.Nav {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	margin: auto;
	padding: 30px 50px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: top;
	justify-content: space-around;
	opacity: 0;
	animation: show-navbar .5s 1.5s ease-in-out forwards;
}

@keyframes show-navbar {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}