#NavMenuButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 1rem;
	width: 8.33vh;
	height: 8.33vh;
	z-index: 100;
	cursor: pointer;

}
/*Button with toggle side nav menu*/
.MenuOpenButton {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	cursor: pointer;
	padding: 2.5vmin 1vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
}
.MenuOpenButton.hide-menuButton {
	display: none;
}

.MenuOpenButton > div {
	width: 50%;
	height: 2px;
	margin: 2px 0;
	background-color: white;
	transition: all .5s ease;
}
.MenuOpenButton > div:nth-child(1) {
	width: 80%;
}
.MenuOpenButton > div:nth-child(2) {
	width: 65%;
}
.MenuOpenButton > div:nth-child(3) {
	width: 60%;
}
.MenuOpenButton:hover > div {
	width: 100%;
}
/*Button with toggle side nav menu*/

/*Layout with dark screen*/
.MenuOpenLayout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 250;
	overflow: hidden;
	cursor: auto;
}
/*Layout with dark screen*/

/*Slideside container with nav buttons*/
.MenuOpenLayout__container {
	position: fixed;
	width: 45vw;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,1);
	z-index: 300;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
	transform: translateX(-100%);
	/*transition: all .5s ease;*/
	animation: show-menu .5s ease forwards;
}
@keyframes show-menu {
	0%{
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
.MenuOpenLayout__container.hide__menu {
	animation: hide-menu .5s ease forwards;
}
@keyframes hide-menu {
	0%{
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.MenuOpenLayout__container > div {
	width: 100%;
	height: 100px;
	
	cursor: pointer;
}
.MenuOpenLayout__container > div:hover {
	background-color: #3B3B3B;
}
.MenuOpenLayout__container > div > a, .MenuOpenLayout__container > div > span {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 4vh;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Slideside container with nav buttons*/

/*Class for main layouts on each page. Use for div inside zoomWrapper elem*/ 
.zoomedLayout {
	transform: scale(1.17) !important;
	overflow: hidden;
}
#MenuProjectsContainer {
	position: fixed;
	top: 0;
	/*right: 0;*/
	left: 45vw;
	width: 30%;
	height: auto;
	background-color: black;
	color: white;
	z-index: 250;
	opacity: 0;
	transform: translateX(-100%);
	animation: showProjectList 1s 0s ease forwards;
}
@keyframes showProjectList {
	0%{
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
