.Header {
	box-sizing: border-box;
	height: 120vh;
	width: auto;
	background: linear-gradient(180deg, rgba(0,0,0,.9), transparent 20%),
				url(img/bg-image.jpg) center center/100% 100% no-repeat;
	filter: grayscale(35%);
	/*background-position-y: -20px ;*/
	opacity: 0;
	background-attachment: fixed;
	position: relative;
	display: flex;
	padding-top: 180px;
	align-items: start;
	justify-content: center;
	animation: show-header 1.5s ease-in-out forwards;
}

.Header__title{
	
	width: 1000px;
	height: 450px;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 3.5rem;
	line-height: 8.5rem;
	text-align: center;
	opacity: 0;
	animation: show-title 1.5s 1s ease forwards;
}

.Header__title::before, .Header__title::after {
	content: '';
	height: 2px;
	width: 40%;
	position: absolute;
	bottom: 6.5rem;
	background-color: black;
	display: block;
}

.Header__title::after{
	right: 0;
}

@keyframes show-header {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: .9;
		transform: translateY(0);
	}
}

@keyframes show-title {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);

	}
}

