.Home__Gallery__Picture {
	height: auto;
	background-color: pink;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	height: 90%;
	box-shadow: 7px 10px 8px rgba(0,0,0,.5);
}

.Home__Gallery__Picture:nth-child(1) {
	grid-area: img1;
}

.Home__Gallery__Picture:nth-child(2) {
	grid-area: img2;	
}

.Home__Gallery__Picture:nth-child(3) {
	grid-area: img3;
}

.Home__Gallery__Picture:nth-child(4) {
	grid-area: img4;
}

.Home__Gallery__Picture p {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	color: black;
	font-size: 1.1rem;
	opacity: 0;
	transition: opacity 1s .1s ease-in-out;
}

.Home__Gallery__Picture:hover p {
	opacity: .8;
}

.Home__Gallery__Picture img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	transition: all 1.5s .1s ease-in-out;
}

.Home__Gallery__Picture:hover img {
	transform: scale(1.05);
}
