.Picture {
	width: 100%;
	height: 80%;
	position: absolute;
	top: 10%;
	opacity: 0;
	transform: translateX(100%) scale(.7);
	overflow: hidden;
	transition: all .8s cubic-bezier(.5,0,.5,1);
}	

.Picture__img {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.Picture__img.fullSize {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: grey;
}

.current {
	opacity: 1;
	transform: translateX(0) translateY(0) scale(1);
}
.prev {
	opacity: 0;
	transform: translateX(-120%) translateY(0) scale(.8);
}
.next {
	opacity: 0;
	transform: translateX(120%) translateY(0)scale(.8);
}
