.Home__MainWrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	
}
.Home__container {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(./img/img1_rsz.jpg) left top/100% 100% no-repeat;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	animation: Home__enter-animation 2.2s ease forwards;
}

@keyframes Home__enter-animation {
	0%{
		opacity: 0;
		transform: scale(1.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.Home__container.on-exit {
	opacity: 1;
	animation: Home__exit-animation .5s ease forwards;
}

@keyframes Home__exit-animation {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.3);
	}
}


.Home__container .Title-box {
	padding-left: 10vw;
	width: 70%;
	height: 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 1;
	font-weight: bold;
}
.Title-box__name {
	width: 100%;
	height: 33.33%;
	font-size: 10vmin;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
}
.Title-box__surname {
	width: 100%;
	height: 33.33%;
	font-size: 10vmin;
	overflow: visible;
	display: flex;
	align-items: flex-end;
}
.Title-box__art {
	width: 100%;
	height: 30%;
	font-size: 8vmin;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
}

.Nav-box {
	align-self: stretch;
	width: 25%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
}
.Nav-box > div {
	width: 100%;
	height: 12vh;
	position: relative;
}
.Nav-box .linkBlindBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform: translateX(100%);
	transition: transform .5s ease;
}
.Nav-box > div:hover > div {
	transform: translateX(0);
}
.Nav-box > div > span {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;

	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5vmin;
	color: black;
	z-index: 300 !important;
}
.Nav-box > div > span:hover {
	color: white;
	font-weight: bold;
}



@media screen and (max-width: 768px) and (orientation: portrait){

	.Home__container {
		padding: 0 20px;
	}
	.Nav-box .linkBlindBox {
		display: none;
	}
	.Home__container .Title-box {
		align-self: flex-start;
		padding-left: 10px;
	}
	.Nav-box {
		width: 30%;
	}
	.Home__container .Nav-box {
		align-self: flex-end;
	}
}




@media screen and (max-width: 480px) {

.Home__container {
	flex-flow: column nowrap
}
.Home__container .Title-box {
	width: 100%;
	height: 50%;
	margin: 0;
	padding: 20px;
	justify-content: center;
}
.Title-box__name,
.Title-box__surname {
	height: 25%;
}
.Title-box__art {
	height: 23%;
}
.linkBlindBox {
	display: none;
}

.Nav-box {
	width: 100%;
}
.Nav-box > div {
	height: 10vh;
}

}