.Home {
  width: 100%;
  height: auto;
  color: black; 
  position: relative;
}

.arrow {
	position: fixed;
	width: 100px;
	height: 80px;
	background: url(./Header/img/arrow.png) center center/100% 100% no-repeat;
	z-index: 20;
	cursor: pointer;
	opacity: .4;
	transition: all 1s cubic-bezier(.1,.5,.5,1);
	/*animation: arrow-show .5s 3s linear forwards;*/
}
.arrow:hover {
	opacity: 1 !important;
	width: 120px;
}
.arrowUp {
	transform: rotate(-90deg);
	transform-origin: left top;
	top: 20%;
}
.arrowDown {
	transform: rotate(90deg);
	transform-origin: left bottom;
	bottom: calc(20% + 40px);
}
/*
@keyframes arrow-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .4;
	}

}*/