.About__Contacts__MainWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	/*opacity: .2;*/
}
/*
.About__Contacts__on-enter{
	animation: about__contacts--enter 1.2s ease forwards;
}

@keyframes about__contacts--enter {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}*/
.zoomWrapper {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow: hidden;
}
.About__Contacts {
	width: 100vw;
	height: 100vh;
	display: grid;
	overflow: hidden;
	position: relative;
	background-color: white;
	transition: transform .5s ease;
}


.header {
	width: 100%;
	height: 7vh;
	position: relative;
	z-index: 40;
	background-color: rgba(0,0,0,0);
	color: white;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	font-family: 'Russo One', sans-serif;
}
.header div:first-child {
	border-right: 3px solid white;
	padding-right: 30px;
}
.header div:last-child {
	padding-left: 30px;
}
.button {
	cursor: pointer;
}
.button:hover {
	color: black;
}
.activeButton {
	color: black;
	text-decoration: underline;
}
