.Event {
	width: 70%;
	height: 300px;
	padding: 0;
	border-right: none;
	background: white;
	margin-bottom: 50px;
	display: flex;
	box-shadow: -5px 5px 10px #444;
	transition: all 1s .2s ease-in-out;
	opacity: 0;
	transform: translateY(40px) ;
}

.Event--show {
	transform: translateY(0) !important;
	opacity: 1 !important;
}

.Event:nth-child(odd) {
	align-self: flex-end;
}

.Event__info {
	text-align: center;
	width: 30%;
	position: relative;
	margin-top: 30px;
}

.Event:nth-child(odd) .Event__info {
	order: -1;
}

.Event__info h3 {
	font-size: 1.4rem;
}

.Event__info p {
	margin: 1rem;
}

.Event__info button {
	position: absolute;
	bottom: 10px;
	width: 80%;
	left: 10%;
	font-family: 'IM Fell English SC', serif;
	font-size: 1.2rem;
	padding: 5px 0;
	border-radius: 5px;
	cursor: pointer;
}

.Event__photo {
	width: 70%;
}

.Event__photo img {
	width: 100%;
	height: 100%;
}
