.About {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
	transition: transform 1s ease;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show {
	transform: translateY(0%);
}

.About__container{
	width: 85vw;
	height: 80%;
	overflow: hidden;
	background-color: white;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(7, 1fr);

}

.About__container--logo {
	grid-column: 6 / -1;
	grid-row: 1 / 3;
	padding: 1rem;
	font-family: 'Russo One', sans-serif;
	font-size: 8vh;
	color: #252526;
}

.About__container--photo {
	grid-column: 1 / 6;
	grid-row: 1 / 6;
	position: relative;
	background: url(../img/about_img/img1.jpg) right top/cover no-repeat;
	transform: translateX(-10%);
	opacity: 0;
	animation: About-photo-show 1.5s .5s ease forwards;
}

@keyframes About-photo-show {
	0%{
		opacity: 0;
		transform: translateX(-10%);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

.About__container--info {
	grid-column: 6 / -1;
	grid-row: 3 / -1;
	background-color: #2D2D2D;
	color: white;
	overflow: hidden;
	font-size: .8rem;
	padding: 1rem;
	font-family: 'Merriweather Sans';
	position: relative;
	opacity: 0;
	transform: translateX(10%);
	animation: About-info-show 1.5s .5s ease forwards;
}
@keyframes About-info-show {
	0%{
		opacity: 0;
		transform: translateX(10%);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.About__container{
		overflow: hidden;
		background-color: transparent;
	}
	.tempLayout {
		display: none;
	}
	.About__container--logo {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		z-index: 3;
		background-color: white;
		font-size: 5vh;
	}
	.About__container--photo {
		grid-column: 1 / -1;
		grid-row: 2 / 5;
		z-index: 2;
	}
	.About__container--info {
		grid-column: 1 / -1;
		grid-row: 5 / -1;
		z-index: 1;
		overflow-y: auto;
	}
}



@media screen and (max-width: 768px) and (orientation: landscape){
	.About__container--info {
		font-size: .55rem;
		overflow-y: auto;
	}
	.tempLayout {
		display: none;
	}
	.About__container--logo {
		font-size: 25px;
	}

}

@media screen and (max-width: 480px) {
	.About__container--logo {
		font-size: 3vh;
		padding: 10px;
	}
	.About__container--info {
		font-size: .7rem;
	}
	.About__container--photo {
		grid-row: 2 / 4;
		transform: translateY(-100%);
		opacity: 0;
		animation: show-about-photo .8s .5s ease forwards;
	}
	@keyframes show-about-photo {
		0%{
			opacity: 0;
			transform: translateY(-100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.About__container--info {
		grid-row: 4 / -1;
		transform: translateY(-150%);
		opacity: 0;
		animation: show-about-info 1s 1s ease forwards;
	}
	@keyframes show-about-info {
		0%{
			opacity: 0;
			transform: translateY(-150%);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}