.Picture {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transform: translateX(80%) ;
	overflow: hidden;
	transition: all .8s cubic-bezier(.5,0,.5,1);
}	

.Picture__img {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.current {
	opacity: 1;
	transform: translateX(0) translateY(0) ;
}
.prev {
	opacity: 0;
	transform: translateX(-80%) translateY(0) ;
}
.next {
	opacity: 0;
	transform: translateX(80%) translateY(0);
}
